body {background-color:#293132}

.Logo {
    position:absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,0%);
    height: 25%;
    user-select: none;
    -webkit-user-drag: none;
}

.Loginbutton {
    position:absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,0%);
    height: 8%;
    aspect-ratio: 5;
    border-color: white;
    background-color: #3772ff;
    border-radius: 1000px;
    color: white;
    font-size: 200%;
}

.Signupbutton {
    position:absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%,0%);
    height: 6%;
    aspect-ratio: 2;
    background-color: transparent;
    border-color: transparent;
    color: black;
    font-size: 120%;
}